.titulo-form {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-add-nova-nota {
    display: flex;
    flex-direction: column;
}

.form-nova-nota-campos {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2rem;
    background-color: #332941;
    border-radius: 7.15px;
}

.nota-campo-titulo {
    font-weight: 500;
}

.nota-campo {
    padding: 0.5rem;
    background-color: #655e6d;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    font-size: 1rem;
    color: white;
}

.nota-campo::placeholder {
    color: white;
    opacity: 50%;
}

#conteudo {
    min-width: 100%;
    min-height: 100px;
    max-width: 100%;
    max-height: 150px;
    overflow: auto;
}

.botao-submit {
    align-self: center;
    margin-top: 2rem;
    padding: 0.48rem 0.65rem;
    border-radius: 100%;
    border: none;
    background-color: #EAE509;
}

.bi-plus-circle-dotted {
    font-size: 2rem;
}

@media only screen and (min-width: 768px) {
    .titulo-form {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;    
    }

}

@media only screen and (min-width: 1200px) {
    .form-add-nova-nota {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media only screen and (min-width: 1400px) {
    .form-add-nova-nota {
        margin-left: 6rem;
        margin-right: 6rem;
    }
}